@charset "UTF-8";



body {
	background-image: url('IMG/CafeBack2.jpg');
	/* 背景となる画像のURLを指定します */
	background-size: cover;
	/* 画面全体に背景画像を広げます */
	background-position: center;
	/* 背景画像を中央に配置します */
	font-family: "Sawarabi Mincho";
	background-attachment: fixed;
	/* 背景画像を固定する */
}

nav {
	width: 100%;
	height: 170px;
	background-color: #F6F5EA;
	padding-top: 14px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	text-shadow: 2px 1px 2px rgb(128, 128, 64);
}



ul {
	display: flex;
	float: right;
	margin-right: 15px;
	text-align: left;
	margin-top: -90px;
}

li {
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
	color: #8c6239;
	font-size: 35px;
	margin-right: 60px;
	font-weight: bolder;
}

a:hover {
	color: burlywood;
}




main {
	background-color: #F6F5EA;
	color: rgb(85, 60, 34);
	margin-left: 330px;
	margin-right: 330px;
	margin-top: 300px;
	margin-bottom: 200px;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 80px;
	padding-bottom: 120px;
	font-size: 1.6rem;
	font-weight: bold;
	text-shadow: 2px 2px 3px rgb(128, 128, 64);

}

.Team {
	text-align: center;
	color: rgb(85, 60, 34);
	text-align: center;
	border-bottom: 2px solid #000;
	/* 横線のスタイルを設定します。太さや色は適宜変更してください。 */
	padding-bottom: 60px;
	margin-bottom: 20px;
	/* 横線と内容の間に余白を設定します。 */
	margin-right:0px;
	margin-left: 0px;

}

.Title {
	text-align: center;
	font-size: 2.7rem;
	margin-top:8px;
}

.Explanasion {
	background-color: rgb(252, 252, 252);
	padding: 97px;
	border-radius: 30px;
	/* 丸みの半径を指定します */
	border: 6px solid #8c6239;
	/* ボーダーの色と太さを指定します */

	margin-top:35px;
	
}


.welcome {
	display: block;
	text-decoration: none;
	color: #8c6239;
	font-size: 32px;
	margin-right: 60px;
	font-weight: bolder;
	display: flex;
	margin-right: 90px;
	font-style: italic;
}


.mypage {
	font-size: 20px;
	font-weight: bold;
	color: rosybrown;
}


.postbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin: 0 auto;
	padding: .9em 2em;
	border: 2px solid #503C3C;
	border-radius: 10px;
	background-color: #fff;
	color: #503C3C;
	font-size: 40px;
	font-weight: bold;
	font-family: "Sawarabi Mincho";

}

.postbutton:hover {
	background-color: #503C3C;
	color: #fff;
	font-weight: 600;

}


.logoutbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin-left: auto;
	padding: .9em 2em;
	border: 2px solid #503C3C;
	border-radius: 60px;
	background-color: #fff;
	color: #503C3C;
	font-size: 14px;
	font-weight: bold;

	margin-right: 15px;
}

.logoutbutton:hover {
	background-color: #503C3C;
	color: #fff;
	font-weight: 600;

}

.deletebutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin: 0 auto;
	padding: .5em 1em;
	border: 2px solid #503C3C;
	border-radius: 10px;
	background-color: #fff;
	color: #503C3C;
	font-size: 20px;
	font-weight: bold;
}

.deletebutton:hover {
	background-color: #503C3C;
	color: #fff;
	font-weight: 600;

}

.updatebutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin: 0 auto;
	padding: .5em 1em;
	border: 2px solid #2589d0;
	border-radius: 10px;
	background-color: #fff;
	color: #2589d0;
	font-size: 20px;
	font-weight: bold;
}

.updatebutton:hover {
	background-color: #2589d0;
	color: #fff;
	font-weight: 600;

}